<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Google Font 'Do Hyeon' -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>주식 종목 추천 사이트</title>

    <style>
        * {
            font-family: 'Do Hyeon', sans-serif;
        }
        .wrap-container {
            width: 800px;
            margin: auto;
        }
    </style>

    <script>
        // 초기 데이터(그룹 항목) 저장
        let groups
        let groups_idx = 0

        // 사용자가 선택한 값 저장
        let select_groups


        /* 페이지 로딩 시 호출 */
        $(document).ready(function() {
            set_base_code()
            groups_idx = 0
            select_groups = []
        })

        /* 초기 데이터 설정 */
        function set_base_code() {
            $.ajax({
                type: "GET",
                url: "/code/base",
                success: function(response) {
                    groups = response["all_group"]
                }
            })
        }

        /* 다음 내용을 출력할 것인지 검사 */
        function check() {
            let value = $("input[name='radio-group']:checked").val()
            console.log(value)

            if(value == undefined) {
                alert('내용을 선택해주세요 !')
                return
            }

            select_groups[groups_idx++] = value
            if(groups_idx < groups.length) {
                show_group_info(value)
            }
            else {
                show_stock_info()
            }
        }

        /* 그룹별 항목들 출력 */
        function show_group_info() {
            $.ajax({
                type: "GET",
                url: `/code?group=${groups[groups_idx]}`,
                success: function(response) {
                    console.log(response)

                    let group_info = response
                    $('#contents-box').empty()
                    for(let i = 0; i < group_info.length; i++) {
                        let info = group_info[i]
                        console.log(info['code'])
                        let tmp_html = `<div class="form-check" id="form-radio">
                                          <input class="form-check-input" type="radio" name="radio-group" value="${info['code']}">
                                            ${info["name"]}
                                          </label>
                                        </div>`

                        $("#contents-box").append(tmp_html)
                    }

                    let btn_html = `<button type="button" class="btn btn-success" onclick="check()">다음</button>`
                    $('#contents-box').append(btn_html)
                }
            })
        }

        /* 종목 정보 출력 */
        function show_stock_info() {
            let data = {}
            groups.forEach(function (code, idx) {
                data[code] = select_groups[idx]
            });

            $.ajax({
                type: "POST",
                url: "/stocks",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                success: function(response) {
                    $('#contents-box').empty()
                    for(let i = 0; i < response.length; i++) {
                        let tmp_html = `<p>
                                            <span>${response[i]["name"]}</span>
                                            <button type="button" class="btn btn-warning" onclick="add_bookmark('${response[i]["code"]}')">즐겨찾기</button>
                                            <button type="button" class="btn btn-success" onclick="show_stock_detail('${response[i]["code"]}')">정보</button>
                                        </p>`

                        $('#contents-box').append(tmp_html)
                    }

                    let tmp_html = `<button type="button" class="btn btn-secondary" onclick="window.location.reload()">다시선택</button>`
                    $('#contents-box').append(tmp_html)
                }
            })
        }

        /* 종목 정보 출력 */
        function show_stock_detail(code) {
            console.log(code)
            $.ajax({
                type: "GET",
                url: `/stock?code=${code}`,
                success: function(response) {
                    detail = "주가 총액: " + response["stock_price"] + "\n"
                           + "시가 총액: " + response["market_price"] + "\n"
                           + "PER: " + response["PER"]
                    alert(detail)
                }
            })
        }

        /* 즐겨찾기 추가 */
        function add_bookmark(code) {
            $.ajax({
                type: "POST",
                url: "/bookmark",
                data: {"code": code},
                success: function(response) {
                    alert(response["msg"])
                }
            })
        }
    </script>
</head>

<body>
    <div class="wrap-container">
        <nav class="nav">
            <a class="nav-link active" aria-current="true" href="#">추천</a>
            <a class="nav-link disabled" href="/bookmark">즐겨찾기</a>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4">주식 종목 추천</h1>
            <p class="lead">원하시는 종목을 추천합니다</p>
            <hr class="my-4">
            <p class="lead" id="contents-box">
                <button onclick="show_group_info()" id="btn-post-box" type="button" class="btn btn-primary">추천 시작</button>
            </p>
        </div>
    </div>
</body>

</html>