<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- jQuery Cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@500&display=swap" rel="stylesheet">


    <title>게시판 | 질문</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Hahmlet', serif;
        }

        .comment-div {
            padding: 10px;
            border-top: 1px solid lightgray;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }
    </style>
    <script>
        let order = "asc"; // 오름차순
        let perPage = "5"; // 한 페이지당 보여줄 게시글 개수

        $(document).ready(function () {
            toggleSignBtn();

            $("#cards-box").html("");
            showArticles(1);

            // 페이지 당 출력할 게시글 변경 리스너
            $("#perPagingSelect").change(function () {
                perPage = $(this).val();
                showArticles(1)
            })
        });

        function openClose() {
            if ($("#post-box").css("display") == "block") {
                $("#post-box").hide();
                $("#btn-post-box").text("포스팅 박스 열기");
            } else {
                $("#post-url").val('');
                $("#post-comment").val('');
                $("#post-box").show();
                $("#btn-post-box").text("포스팅 박스 닫기");
            }
        }

        function toggleSignBtn() {
            if($.cookie('mytoken') != undefined) {
                $('#btn-logout').show();
                $('#btn-login').hide();
                $('#btn-sign-in').hide();
            }
            else {
                $('#btn-logout').hide();
                $('#btn-login').show();
                $('#btn-sign-in').show();
            }
        }

        function showSignModal(title) {
            clearSignModal()

            if(title == "회원가입") {
                $('#sign-modal-title').html('회원가입');
                $('#btn-ok-sign-modal').attr('onclick', '').unbind("click").on('click', signUp)
            }
            else {
                $('#sign-modal-title').html('로그인');
                $('#btn-ok-sign-modal').attr('onclick', '').unbind("click").on("click", login);

            }
            $('#signModal').modal('show');
        }

        function clearSignModal() {
            $('#username').val(undefined);
            $('#password').val(undefined);
            console.log($('#username').val(), $('#password').val())
        }

        /* 아이디 패스워드 입력 확인 */
        function checkUserInfo(username, password) {
            console.log(username, password)
            if(username == undefined) return "아이디를 입력해주세요!";
            else if(password == undefined) return "패스워드를 입력해주세요!";
            else return "success";
        }

        /* 회원가입 */
        function signUp() {
            let username = $("#username").val();
            let password = $("#password").val();

            let msg = checkUserInfo(username, password);
            if(msg != "success") {
                alert(msg);
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/sign-up',
                data: {
                    "username": username,
                    "password": password
                },
                success: function(response) {
                    if (response['msg'] == 'success') {
                        alert("회원가입 성공! 로그인 해주세요!")
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

        /* 로그인 */
        function login() {
            let username = $("#username").val()
            let password = $("#password").val()

            let msg = checkUserInfo(username, password);
            if(msg != "success") {
                alert(msg);
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/login',
                data: {
                    "username": username,
                    "password": password
                },
                success: function(response) {
                    if (response['msg'] == 'success') {
                        $.cookie('mytoken', response['token'], {path: '/'});
                        toggleSignBtn();
                    } else {
                        alert(response['msg']);
                    }
                }
            })
        }

        /* 로그아웃 */
        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃 완료!');
            toggleSignBtn();
        }

        /* 게시글 작성 및 업데이트 */
        function postingArticle() {
            let url = $("#post-url").val();
            let comment = $("#post-comment").val();
            let idx = $("#post-idx").val();

            /* 게시글 업데이트 */
            if (idx != '') {
                $.ajax({
                    type: "PUT",
                    url: "/article",
                    data: {idx: idx, title: url, content: comment},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert("포스팅 업데이트 성공!");
                            window.location.reload();
                        } else {
                            alert("서버 오류!");
                        }
                    }
                })
            }
            /* 새로운 게시글 작성 */
            else {
                $.ajax({
                    type: "POST",
                    url: "/article",
                    data: {title: url, content: comment},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert("포스팅 성공!");
                            window.location.reload();
                        } else {
                            alert("서버 오류!");
                        }
                    }
                })
            }
        }

        /* 게시글 출력 */
        function showArticles(curPage, userTab) {
            // 비회원일 경우 '나의 글 목록' 비활성화
            if(userTab && $.cookie('mytoken') == undefined) {
                alert("로그인한 사용자만 이용할 수 있습니다!")
                return;
            }

            let searchTitle = $("#searchTitle").val();
            let tab = (userTab) ? true : '';
            $.ajax({
                type: "GET",
                url: `/articles?perPage=${perPage}&curPage=${curPage}&order=${order}&searchTitle=${searchTitle}&tab=${tab}`,
                data: {},
                success: function (response) {
                    if(response["result"] == "success") {
                        $("#list-post").empty();
                        let articles = response["articles"];
                        let pagingInfo = response["pagingInfo"];
                        for (let i = 0; i < articles.length; i++) {
                            let num = response["pagingInfo"]["totalCount"] - (perPage * (curPage - 1)) - i
                            makeListPost(articles[i], num);
                        }
                        makePaging(pagingInfo);
                    }
                    else {
                        alert(response["msg"]);
                        return;
                    }
                }
            })
        }

        /* 페이지 별 게시글 출력 처리 */
        function makePaging(pagingInfo) {
            let tempHtml = '';
            for (let i = 0; i < pagingInfo['totalPage']; i++) {
                if (i + 1 == pagingInfo['curPage']) {
                    tempHtml += `<li class="page-item active"><a class="page-link" href="#">${i + 1}</a></li>`;
                } else {
                    tempHtml += `<li class="page-item"><a class="page-link" href="#" onclick="showArticles(${i + 1})">${i + 1}</a></li>`;
                }
            }
            $("#pagination").html(tempHtml);
        }

        /* TODO: 게시글 검색 */
        function searching() {
            showArticles(1)
        }

        /* 특정 게시글 수정하기 */
        function getArticle(idx) {
            $.ajax({
                type: "GET",
                url: `/article?idx=${idx}`,
                data: {},
                success: function (response) {
                    let title = response['article']['title']
                    let content = response['article']['content']
                    $("#post-url").val(title);
                    $("#post-comment").val(content);
                    $("#post-idx").val(idx);
                    $("#post-box").show();
                    $("#btn-post-box").text("포스팅 박스 닫기");
                }
            })
        }

        /* 게시글 조회하기 (모달 출력) */
        function readArticle(idx) {
            $.ajax({
                type: "PUT",
                url: `/article/${idx}`,
                data: {},
                success: function (response) {
                    let title = response['article']['title']
                    let content = response['article']['content']
                    $('#modal-title').html(title);
                    $('#modal-content').html(content);
                    $('#articleModal').modal('show');
                    $('#comment-btn').attr('onclick', `saveComment(${idx})`);

                    // 게시글 댓글 조회하기
                    showComment(idx);
                }
            })
        }

        /* 게시글 목록 HTML 생성 */
        function makeListPost(post, index) {
            let tempHtml = ` <tr>
                      <th scope="row">${index}</th>
                      <td><a href="#" onclick="readArticle(${post['idx']})">${post['title']}</td>
                      <td>${post['username']}</td>
                      <td>${post['reg_date']}</td>
                      <td>${post['read_count']}</td>
                      <td><button type="button" class="btn btn-danger" onclick="deleteArticle(${post['idx']})">삭제</button></td>
                      <td><button type="button" class="btn btn-primary" onclick="getArticle(${post['idx']})">수정</button></td>
                      </tr>
                    `;
            $("#list-post").append(tempHtml);
        }

        /* 게시글 삭제 */
        function deleteArticle(idx) {
            $.ajax({
                type: "DELETE",
                url: `/article?idx=${idx}`,
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert("삭제 성공!");
                        window.location.reload();
                    } else {
                        alert("서버 오류!");
                    }
                }
            })
        }

        /* 댓글 작성 */
        function saveComment(idx) {
            let content = $('#comment').val();
            console.log(content);
            // comment 빈 내용 검사

            $.ajax({
                type: "POST",
                url: `/comment`,
                data: {idx: idx, content: content},
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert("댓글 작성 완료!");
                        $('#comment').val('');
                        showComment(idx);

                        // TODO: web socket
                        // 댓글 작성이 완료되면 게시글 작성자에게 알림창 띄우기
                    } else {
                        alert("서버 오류!");
                    }
                }
            })
        }

        /* 댓글 출력 */
        function showComment(idx) {
            $.ajax({
                type: "GET",
                url: `/comment?idx=${idx}`,
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        $('#modal-comment').empty();
                        let comments = response["comments"];
                        for(let i = 0; i < comments.length; i++) {
                            makeComment(comments[i]);
                        }
                    } else {
                        alert("서버 오류!");
                    }
                }
            })
        }

        /* 댓글 목록 HTML 생성 */
        function makeComment(comment) {
            let tmpHtml = `<div class="comment-div">${comment["content"]}</div>`;
            $('#modal-comment').append(tmpHtml);
        }

        /* 작성 날짜별 정렬 출력 */
        function setOrder() {
            if (order == "asc") {
                order = "desc";
                $("#viewOrder").html(`<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
  <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
</svg>`)
            } else {
                order = "asc";
                $("#viewOrder").html(`<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
</svg>`)
            }
            showArticles(1);
        }



    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">✏️ 질문 게시판</h1>
        <hr class="my-4">
        <p class="lead">
            <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">포스팅 박스 열기
            </button>
            <button onclick="showSignModal('로그인')" id="btn-login" type="button" class="btn btn-secondary">로그인
            </button>
            <button style="display: none" onclick="logout()" id="btn-logout" type="button" class="btn btn-danger">로그아웃
            </button>
            <button onclick="showSignModal('회원가입')" id="btn-sign-in" type="button" class="btn btn-success">회원가입
            </button>
        </p>
    </div>
    <div id="post-box" class="form-post" style="display:none">
        <div>
            <div class="form-group">
                <label for="post-url">제목</label>
                <input id="post-url" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="post-comment">간단한 내용</label>
                <textarea id="post-comment" class="form-control" rows="2"></textarea>
            </div>
            <input id="post-idx" class="form-control" placeholder="" hidden>
            <button type="button" class="btn btn-primary" onclick="postingArticle()">기사저장</button>
        </div>
    </div>
    <div class="input-group mb-3" style="width: 10%;margin: 0% 90%;">
        <select class="custom-select" id="perPagingSelect">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item" onclick="showArticles(1)">
            <a class="nav-link active" data-toggle="tab" href="#">전체 글 목록</a>
        </li>
        <li class="nav-item" onclick="showArticles(1, true);">
            <a class="nav-link" data-toggle="tab" href="#">나의 글 목록</a>
        </li>
    </ul>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">날짜</th>
            <th scope="col">조회<span onclick="setOrder()" id="viewOrder">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
</svg>
                  </span></th>
            <th scope="col">삭제</th>
            <th scope="col">수정</th>
        </tr>
        </thead>
        <tbody id="list-post">
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="justify-content: center;" id="pagination">
        </ul>
    </nav>
    <div class="input-group mb-3" style="width: 40%;margin: 0% 30%;">
        <input type="text" class="form-control" placeholder="제목" aria-label="제목"
               aria-describedby="basic-addon2" id="searchTitle">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="searching()">검색</button>
        </div>
    </div>
</div>

<!-- Modal: 게시글 조회 -->
<div class="modal fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-content">
            </div>

            <div class="modal-footer">
                <textarea id="comment" class="form-control" rows="2"></textarea>
                <!-- <input id="modal-idx" hidden/> -->
                <button id="comment-btn" type="button" class="btn btn-secondary" onclick="saveComment()">댓글</button>
            </div>
            <div class="list-group" id="modal-comment">
            </div>
        </div>
    </div>
</div>

<!-- Modal: 회원가입 및 로그인 -->
<div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sign-modal-title">회원가입 또는 로그인</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="sign-modal-content">
                <label for="username">아이디</label>
                <input type="text" class="form-control" id="username">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearSignModal()">닫기</button>
                 <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-ok-sign-modal" onclick="clearSignModal()">확인</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>